body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ececec;
}

.header-bar {
    background-color: #fff;
    color: #800080;
    padding: 13px;
    text-align: left;
    border-bottom: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-size: 20px;
    top: 0;
    opacity: 80%;
    margin-bottom: 0px;
}

.description {
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #800080;
    font-weight: bold;
    padding: 8px 15px;
    display: block;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.social-icons a {
    color: #800080;
    margin-left: 40px;
    font-size: 30px;
}

.nav-links {
    margin-left: auto;
}

@media (max-width: 768px) {
    .header-bar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        margin-left: 0;
        margin-top: 10px;
    }

    .social-icons {
        margin-right: 0;
        margin-top: 10px;
    }

    .social-icons a {
        margin-left: 10px;
    }
}

.header-container1 {
    background-color: inherit;
    padding: 100px;
    text-align: center;
    max-width: 55%;
    margin: 0 auto;
    color: #fff;
}

.header-text {
    font-size: 80px; 
}

.container1 {
    margin-top: 0;
    background: url('https://images.unsplash.com/photo-1682685797828-d3b2561deef4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    height: 160vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-position: center bottom;
    padding: 20px;
}


.container2 {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.container2 div {
    flex: 1;
}

.picture-container2 {
    background-color: inherit;
    padding: 100px 0px 100px 150px;
    max-width: 55%;
    margin: 0 auto;
    color: #fff;
}

.text-container2 {
    background-color: inherit;
    padding: 50px 100px 50px 0px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    color: #fff;
    margin-right: 100px;
}

.profile-image {
    max-width: 55%;
}

.about-header {
    font-size: 70px;
}

.about-description {
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.container3 {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.container3 div {
    flex: 1;
}

.picture-container3 {
    background-color: inherit;
    padding: 100px 0px 100px 150px;
    max-width: 55%;
    margin: 0 auto;
    color: #fff;
}

.text-container3 {
    background-color: inherit;
    padding: 50px 100px 50px 0px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    color: #fff;
    margin-left: 100px; 
}

.profile-image2 {
    max-width: 55%;
}

.about-header2 {
    font-size: 70px;
}

.about-description2 {
    margin-top: 70px;
    padding: 20px;
   
